@use "../utils/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__title {
    color: $color-primary;
  }

  &__logo {
    height: 50px;
    margin-left: 100px;
  }
}
