@use "../utils/variables" as *;

.btn {
  background-color: $color-primary;
  font-size: 1.25rem;
  font-weight: $fw-bold;
  color: white;
  padding: 5px;
  min-width: 170px;
  height: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-black;
    background-color: $color-secondary;
    transition-duration: 0.3s;
  }
}
