@use "../utils/variables" as *;

.btn {
  font-size: 0.62rem;
  font-weight: $fw-bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $color-primary;
  border-radius: 5px;
  cursor: pointer;
}
