@use "../utils/variables" as *;

.photographer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  &__title {
    color: $color-secondary;
    font-weight: $fw-normal;
  }

  &__img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
  }

  &__infos {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__city {
    font-size: 0.9rem;
    color: $color-primary;
  }

  &__tag {
    font-size: 0.75rem;
  }

  &__price {
    font-size: 0.65rem;
    color: $color-dark;
  }
}

.galery-card {
  &__img {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__title {
    font-weight: $fw-normal;
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__like {
    display: flex;
    gap: 10px;
    align-items: center;

    &-score {
      font-weight: $fw-medium;
      font-size: 1.5rem;
      color: $color-primary;
    }

    &-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 50%;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23#{str-slice(#{$color-primary}, 2)}"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
      background-size: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.1rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
