// ********* Colors *********
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-secondary-light: #db8876;
$color-light: #fafafa;
$color-dark: #525252;
$color-black: #000000;
$color-white: #ffffff;

// ********* Font weights *********
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
